@keyframes opacity-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes translate {
  0% {
    transform: translateX(3000px);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translateX(0px);
    animation-timing-function: ease-in-out;
  }
}
