@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: local("Shrikhand"), local("Shrikhand-Regular"),
    url("../assets/fonts/Shrikhand.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../assets/fonts/roboto-regular.woff2") format("woff2");
}

* {
  font-family: $main-font;
  font-size: 1em;
}

h1 {
  font-family: $secondary-font;
  font-size: 1.875em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 0px;
  height: 25px;
  width: 40px;
  font-family: $main-font;
  font-weight: 100;
  font-size: 16px;
  border-bottom: 3px solid #99e2d0;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

// .material-icons {
//   font-family: $icon-font;
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px; /* Preferred icon size */
//   display: inline-block;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;
//   white-space: nowrap;
//   direction: ltr;

//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;

//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;

//   /* Support for IE. */
//   font-feature-settings: "liga";
// }

// .material-symbols-outlined {
//   font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
// }

// @mixin icon($icon) {
//   @include fa-icon;
//   font-family: "Font Awesome 6 Free";
//   font-size: x-large;
//   content: fa-content($icon);
//   margin-right: 10px;
// }

.icon {
  margin-inline: 10px;
}

.favorite-icon {
  &::after {
    margin-inline: 10px;
    font-family: $icon-font;
    font-size: xx-large;
    content: "\f004";
  }

  &:hover {
    cursor: pointer;
    &::after {
      animation: opacity-transition 1s ease-out;
      @include fa-icon-solid($fa-var-heart);
      background-size: 300%;
      background-image: $background-color2;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

@mixin mobile-container {
  width: 100%;
  height: auto;
  padding-block: 40px;

  &__title {
    margin: 0px 20px;
  }

  &__grid {
    display: grid;
    gap: 20px;
    margin: 20px;
  }
}
