$primary-color: #9356dc;
$secondary-color: #f6f6f6;
$font-color: white;
$icon-primary-color: #7e7e7e;
$background-color: #eaeaea;
$background-color2: linear-gradient(
  60.33deg,
  #9356dc -11.44%,
  #ff79da 123.93%,
  #9356dc -5.2%,
  #ff79da 110.74%
);
$background-footer: #353535;
$main-font: "Roboto", sans-serif;
$secondary-font: "Shrikhand", regular;
$icon-font: "Material Icons";

* {
  font-family: $main-font;
  font-size: 1em;
}

h1 {
  font-family: $secondary-font;
  font-size: 1.875em;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

// .material-icons {
//   font-family: $icon-font;
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px; /* Preferred icon size */
//   display: inline-block;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;
//   white-space: nowrap;
//   direction: ltr;

//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;

//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;

//   /* Support for IE. */
//   font-feature-settings: "liga";
// }

// .material-symbols-outlined {
//   font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
// }

// @mixin icon($icon) {
//   @include fa-icon;
//   font-family: "Font Awesome 6 Free";
//   font-size: x-large;
//   content: fa-content($icon);
//   margin-right: 10px;
// }

.icon {
  margin-inline: 10px;
}

@mixin mobile-container {
  width: 100%;
  height: auto;
  padding-block: 40px;

  &__title {
    margin: 0px 20px;
  }

  &__grid {
    display: grid;
    gap: 20px;
    margin: 20px;
  }
}
