@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: local("Shrikhand"), local("Shrikhand-Regular"),
    url("../assets/fonts/Shrikhand.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../assets/fonts/roboto-regular.woff2") format("woff2");
}

* {
  font-family: $main-font;
  font-size: 1em;
  box-sizing: border-box;
}

h1 {
  font-family: $secondary-font;
  font-size: 1.875em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  height: 25px;
  width: 40px;
  font-family: $main-font;
  font-weight: 100;
  font-size: 16px;
  border-bottom: 3px solid $tertiary-color;
  margin-left: 20px;
}

.container {
  @media screen and (min-width: 768px) {
    padding-inline: 150px; 
  }
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  margin-inline: 10px;
}

.favorite-icon {
  &::after {
    margin-inline: 10px;
    font-family: $icon-font;
    font-size: xx-large;
    content: "\f004";
  }

  &:hover {
    cursor: pointer;
    &::after {
      animation: opacity-transition 1s ease-out;
      @include fa-icon-solid($fa-var-heart);
      background-size: 300%;
      background-image: $background-color2;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

@mixin grid-container {
  width: 100%;
  height: auto;
  padding-block: 40px;

  &__title {
    margin: 0px 20px;
  }

  &__grid {
    display: grid;
    gap: 20px;
    margin: 20px;
    $total-cards: 4;

    @for $i from 1 through $total-cards {
      article:nth-child(#{$i}) {
        animation: scale;
        animation-duration: #{$i}s;
      }
    }

    @media screen and (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 960px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
