.primary-button {
  padding: 20px;
  min-width: 218px;
  font-weight: 700;
  color: $fifth-color;
  background-image: $background-color2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    background-position: right;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.functioning-card {
  z-index: -2;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $background-color;
  height: 72px;
  margin-left: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  animation: scale;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: both;

  &:active {
    background-color: aqua;
  }

  &__number {
    position: relative;
    z-index: -1;
    left: -12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
  }

  &__icon {
    color: $icon-primary-color;
    margin-inline: 10px;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 251px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

  &__tag {
    position: absolute;
    right: 10px;
    top: 10px;
    background: $tertiary-color;
    padding: 5px 12px;
    border-radius: 2px;
    font-size: 14px;
    color: #008766;
    font-weight: 800;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 171px;
    border-radius: 20px 20px 0 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }

  &__content {
    &__title {
      font-size: 18px;
      font-weight: bold;
    }

    &__subtitle {
      font-size: 17px;
    }
  }
}

.menu-card {
  width: 100%;
  margin-top: 20px;
  padding-block: 15px;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  &__content {
    margin-inline: 20px;

    &__entry {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }

    &__description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__price {
        font-weight: bold;
      }
    }
  }
}
