.loader {
  @include flex-center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.91);
  backdrop-filter: blur(4px);
  animation: loader;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-duration: 2s;

  &__spinner {
    border: 10px solid $primary-color;
    border-radius: 50%;
    border-top: 10px solid $secondary-color;
    border-right: 10px solid $tertiary-color;
    border-bottom: 10px solid $fourth-color;
    width: 150px;
    height: 150px;
    animation: spin;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }
}

.primary-button {
  padding: 20px;
  min-width: 218px;
  font-weight: 700;
  color: $fifth-color;
  background-image: $background-color2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    background-position: right;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.functioning-card {
  z-index: -2;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $background-color;
  height: 72px;
  margin-left: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  animation: scale;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: both;

  &:active {
    background-color: aqua;
  }

  &__number {
    position: relative;
    z-index: -1;
    left: -12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
  }

  &__icon {
    color: $icon-primary-color;
    margin-inline: 10px;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 251px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }

  &__tag {
    position: absolute;
    right: 10px;
    top: 10px;
    background: $tertiary-color;
    padding: 5px 12px;
    border-radius: 2px;
    font-size: 14px;
    color: #008766;
    font-weight: 800;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 171px;
    border-radius: 20px 20px 0 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }

  &__content {
    &__title {
      font-size: 18px;
      font-weight: bold;
    }

    &__subtitle {
      font-size: 17px;
    }
  }
}

.menu-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 16px 20px 16px;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden; /* hide checkContainer when not hovered */
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    white-space: nowrap;
    overflow: hidden;
  }

  &__title,
  &__description {
    margin: 0;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    margin-left: 5px;
  }

  &__checkContainer {
    @include flex-center;
    background-color: $tertiary-color;
    margin-block: -20px;
    margin-inline: 20px -80px;
    width: 64px;
    transition-duration: 0.5s;
  }

  &:hover &__checkContainer {
    margin-right: -16px;
  }

  &__iconContainer {
    @include flex-center;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 100px;
    transform: scale(0) rotate(0deg);
    transition-duration: 0.5s;
  }

  &:hover &__iconContainer {
    transform: scale(1) rotate(360deg);
    color: $tertiary-color;
    font-size: x-large;

    &:hover {
      background-color: green;
      color: white;
    }
  }
}
