.primary-button {
  padding: 20px;
  font-weight: 700;
  color: $font-color;
  background-image: $background-color2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  background-size: 200% auto;
  background-position: left;
  transition: 300ms background-position ease-in-out,
    300ms box-shadow ease-in-out;

  &:hover {
    background-position: right;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}

.functioning-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $background-color;
  height: 72px;
  margin-left: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  &__number {
    position: relative;
    left: -12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
  }

  &__icon {
    color: $icon-primary-color;
    margin-inline: 10px;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 251px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

  &__tag {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #99e2d0;
    padding: 5px 12px;
    border-radius: 2px;
    font-size: 14px;
    color: #008766;
    font-weight: 800;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 171px;
    border-radius: 20px 20px 0 0;
  }

  &__content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    &__title {
      font-size: 18px;
      font-weight: bold;
    }

    &__subtitle {
      font-size: 17px;
    }

    &__favorite {
      position: absolute;
      right: 10px;

      &::after {
        font-family: "Font Awesome 6 Free";
        font-size: xx-large;
        margin-right: 10px;
        content: "\f004";
      }

      &:hover {
        cursor: pointer;
        &::after {
          animation: opacity-transition 1s ease-out;
          @include fa-icon-solid($fa-var-heart);
          background-size: 300%;
          background-image: $background-color2;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
