.loader {
  z-index: 1;
  @include flex-center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.91);
  backdrop-filter: blur(4px);
  animation: loader;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-duration: 2s;

  &__spinner {
    border: 10px solid $primary-color;
    border-radius: 50%;
    border-top: 10px solid $secondary-color;
    border-right: 10px solid $tertiary-color;
    border-bottom: 10px solid $fourth-color;
    width: 150px;
    height: 150px;
    animation: spin;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }
}

.locatisation {
  @include flex-center;
  z-index: -1;
  flex-direction: row;
  height: 50px;
  font-size: 1em;
  font-weight: 600;
  background-color: $background-color;
}

.hero {
  @include flex-center;
  background: $fourth-color;
  padding: 10px 35px 45px 35px;

  &__text {
    font-size: 18px;
  }
}

.functioning {
  @include grid-container;
}

.restaurants {
  @include grid-container;
  background: $background-color;
}
