body {
  margin: 0px;
  padding: 0px;
}

header {
  @include flex-center;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.locatisation {
  @include flex-center;
  flex-direction: row;
  height: 50px;
  font-size: 1em;
  font-weight: 600;
  background-color: $background-color;
}

.hero {
  @include flex-center;
  background: $secondary-color;
  padding: 10px 35px 45px 35px;

  &__text {
    font-size: 18px;
  }
}

.functioning {
  @include mobile-container;
}

.restaurants {
  @include mobile-container;
  background: $background-color;
}

.footer {
  display: grid;
  gap: 10px;
  padding-bottom: 20px;
  background: $background-footer;
  color: white;

  &__title {
    font-size: 18px;
    font-family: $secondary-font;
    margin: 20px 0px 10px 10px;
  }

  &__content {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  &__infos {
    margin-left: 10px;
    color: white;
  }
}
