body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

header {
  @include flex-center;
  position: relative;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  & > a {
    position: absolute;
    left: 20px;
    & :hover {
      color: blue;
    }
  }
}

.footer {
  @include flex-center;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  min-height: 100px;
  background: $background-footer;
  color: white;

  &__title {
    font-size: 18px;
    font-family: $secondary-font;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 2px 10px;
    text-align: start;
  }

  &__iconText {
    display: flex;
    text-decoration: none;
    color: white;
  }

  &__icon {
    margin-right: 10px;
  }

  &__infos {
    display: flex;
    flex-direction: column;
    text-align: start;

    & > a {
      margin: 0px 10px 0px 10px;
      text-decoration: none;
      color: white;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 100px;
    padding-right: 50px;


    &__content {
      width: 26%;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0px;
    }

    &__infos {
      flex-direction: row;
    }

    &__title {
      order: 1 ;
      font-size: 1rem;
    }
   
  }
}
