body {
  margin: 0px;
  padding: 0px;
}

header {
  @include flex-center;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.footer {
  display: grid;
  gap: 10px;
  padding-bottom: 20px;
  background: $background-footer;
  color: white;

  &__title {
    font-size: 18px;
    font-family: $secondary-font;
    margin: 20px 0px 10px 10px;
  }

  &__content {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  &__infos {
    margin-left: 10px;
    color: white;
  }
}
