body {
  margin: 0px;
  padding: 0px;
}

header {
  @include flex-center;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.locatisation {
  @include flex-center;
  flex-direction: row;
  height: 50px;
  font-size: 1em;
  font-weight: 600;
  background-color: $background-color;
}

.hero {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  background-color: $secondary-color;
  padding: 10px 35px 45px 35px;

  &__text {
    font-size: 18px;
  }
}

.functioning {
  height: auto;
  width: 100%;
  padding-block: 40px;

  &__title {
    margin: 20px;
  }

  &__grid {
    display: grid;
    gap: 20px;
    margin: 20px;
  }
}

.restaurants {
  display: grid;
  width: 100%;
  height: auto;
  padding-block: 40px;
  background-color: $background-color;

  &__title {
    margin: 20px;
  }

  &__grid {
    display: grid;
    gap: 20px;
    margin: 20px;
  }
}
