$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #f6f6f6;
$fifth-color: white;
$icon-primary-color: #7e7e7e;
$background-color: #eaeaea;
$background-color2: linear-gradient(
  120.33deg,
  $primary-color -11.44%,
  $secondary-color 123.93%,
  $primary-color -5.2%,
  $secondary-color 110.74%
);
$background-footer: #353535;

/* font */
$main-font: "Roboto", sans-serif;
$secondary-font: "Shrikhand", regular;

$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-regular: 1rem;
