@import "../sass/awesome-scss/fontawesome.scss";
@import "../sass/awesome-scss/solid.scss";
@import "../sass/awesome-scss/regular.scss";

@import "./_base.scss";
@import "./_components.scss";
@import "./_layout.scss";
@import "./_animation.scss";
@import "./restaurants";
@import "./home.scss";
