* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

h1 {
  font-family: "Shrikhand", regular;
  font-size: 1.875em;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

i {
  display: inline-block;
  margin-right: 1em;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* variable, mixin and layout styles */
.primary-button {
  padding: 20px;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(60.33deg, #9356dc -11.44%, #ff79da 123.93%, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  background-size: 200% auto;
  background-position: left;
  transition: 300ms background-position ease-in-out, 300ms box-shadow ease-in-out;
}
.primary-button:hover {
  background-position: right;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.functioning-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eaeaea;
  height: 72px;
  margin-left: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.functioning-card__number {
  position: relative;
  left: -12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}
.functioning-card__icon {
  color: #7e7e7e;
  margin-inline: 10px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 251px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurant-card__tag {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #99e2d0;
  padding: 5px 12px;
  border-radius: 2px;
  font-size: 14px;
  color: #008766;
  font-weight: 800;
}
.restaurant-card__image {
  object-fit: cover;
  width: 100%;
  height: 171px;
  border-radius: 20px 20px 0 0;
}
.restaurant-card__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  height: 100%;
}
.restaurant-card__content__title {
  font-size: 18px;
  font-weight: bold;
}
.restaurant-card__content__subtitle {
  font-size: 17px;
}
.restaurant-card__content__hearth {
  position: absolute;
  right: 10px;
}
.restaurant-card__content__icon {
  font-weight: lighter;
  font-size: 30px;
}
.restaurant-card__content__icon::after {
  content: "favorite_outline";
}
.restaurant-card__content__icon:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  font-family: "Material Icons";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant-card__content__icon:hover::after {
  content: "favorite";
}

/* all components */
body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.locatisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  font-size: 1em;
  font-weight: 600;
  background-color: #eaeaea;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 10px 35px 45px 35px;
}
.hero__text {
  font-size: 18px;
}

.functioning {
  height: auto;
  width: 100%;
  padding-block: 40px;
}
.functioning__title {
  margin: 20px;
}
.functioning__grid {
  display: grid;
  gap: 20px;
  margin: 20px;
}

.restaurants {
  display: grid;
  width: 100%;
  height: auto;
  padding-block: 40px;
  background-color: #eaeaea;
}
.restaurants__title {
  margin: 20px;
}
.restaurants__grid {
  display: grid;
  gap: 20px;
  margin: 20px;
}

/*# sourceMappingURL=style.css.map */
