$cd-btn: #011c37;
$cd-txt: #6300a0;
$cd-box: #fff;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);

.container {
  background-color: rgb(237, 246, 247);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: #fff;
  color: $cd-txt;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 246, 247);
}

.btn {
  background: $cd-btn;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  transition: rotate 1000ms;
  &:hover {
    background-color: #ffcccc;
    rotate: 360deg;
  }
}

.form {
  &__group {
    & input {
      border: 2px solid $cd-box;
      border-radius: 100rem;
      color: $cd-txt;
      font-family: "Montserrat", sans-serif;
      font-size: 2.5rem;
      outline: none;
      padding: 0.5rem 1.5rem;
      width: 100%;
      transition: background-color 500ms;
      &:focus {
        border: 2px solid $cd-txt;
      }
      &:not(:focus):invalid {
        background-color: $cd-danger;
        border: 2px solid $cd-danger;
        color: $cd-txt--invalid;
      }
    }
  }
}

.button {
  background-color: $cd-btn-start;
  border: 4px solid $cd-btn;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 3rem;
  padding: 1.85rem 3rem;
  transition: transform 450ms, background-color 300ms;
  transition-delay: 0, 150ms;
  // ou transition: all 450ms;
  // ou transition: transform 450ms, background-color 300ms 150ms;

    &:hover {
    transform: scale(1.13);
    background-color: $cd-btn-end;
  }
}

.selector {
  /*(X1,Y1)(X2,Y2)*/
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

$trans-dur: 2000ms;
.strength {
  transform: translateY(100%);
  transition: transform $trans-dur cubic-bezier(0, 0.75, 0.08, 1);
}
